
.body {
    margin: 0;
}
a {
    
}

.container {
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-login {

    .input-email {
        .inputEmail {

        }
        .error-email {

        }
    }
    .input-pass {

    }
}